.social-mobile a {
  padding: 0 6%;
}
.social-mobile i:active {
  color: aliceblue;
}
.social-mobile i {
  font-size: 40px;
}
@keyframes up {
  0% {
    transform: translatey(100%);
  }
  80% {
    transform: translatey(100%);
  }
  100% {
    transform: translatey(0);
  }
}
.social-mobile {
  flex-direction: row;
  justify-content: center;
  align-items: center;
  display: none;
  position: fixed;
  bottom: 0;
  color: white;
  width: 100vw;
  height: 9%;
  animation: up 5s;
}
@media (max-height: 770px) {
  .button {
    width: 150px;
    height: 150px;
  }
  .button h3 {
    font-size: 25px;
  }
}
@media (max-width: 810px) {
  .container main {
    justify-content: flex-start;
    flex-direction: column;
  }
}
@media (max-width: 520px) {
  main {
    flex-direction: column;
    justify-content: center;
    gap: 2vh;
  }

  .social {
    display: none;
  }
  .social-mobile {
    display: flex;
  }
  .container main {
    justify-content: flex-start;
  }
  .container {
    justify-content: flex-start;
  }
}
